.header__lang-link {
  color: #fff;
  font-size: 24px;
  text-decoration: none;
  transition: ease-in-out 0.2s;
}

.header__lang-link:last-child {
  padding-left: 18px;
}

.header__lang-link:hover {
  opacity: 0.8
}