.header__lang-link {
  color: #fff;
  font-size: 24px;
  line-height: 28px;
  text-decoration: none;
  transition: ease-in-out 0.2s;
}

.header__lang-link:last-child {
  padding-left: 18px;
}

.header__lang-link:hover {
  opacity: 0.8;
}

@media (max-width: 320px) {
  .header__lang-link {
    font-size: 18px;
    line-height: 20px;
  }
}