.intro__list {
  font-size: 12px;
  font-weight: normal;
  line-height: 18px;
  text-align: left;
  color: #fff;
  max-width: 690px;
  margin: 33px 0 0 0;
  list-style: none;
  padding-inline-start: 0px;
}


@media (max-width: 320px) {
  .intro__list {
    margin: 34px 0 0 0;
  }
} 