.footer__copyright {
  color: #fff;
  font-size: 14px;
  line-height: 16px;
  font-weight: normal;
}

@media (max-width: 760px) {
  .footer__copyright {
    font-size: 14px;
    line-height: 14px;
  } 
}