.lead__caption {
  font-size: 10px;
  font-weight: normal;
  line-height: 14px;
  letter-spacing: 1.5px;
  text-align: left;
  color: #fff;
  margin: 8px 0 0 0;
  text-transform: uppercase;
}

@media (max-width: 983px) {
  .lead__caption {
    margin: 8px 24px 0 24px;
  }
} 

@media (max-width: 320px) {
  .lead__caption {
    margin: 8px 16px 0 16px;
  }
} 