.footer__content {
  max-width: 1184px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
}

@media (max-width: 760px) {
  .footer__content {
    flex-direction: column;
    gap: 48px;
  }
} 