.header__lang-links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 12px;
}

@media (max-width: 320px) {
  .header__lang-links {
    padding-top: 15px;
  }
}